# Python version 3.10.12

#Key packages included in current version of Colab 
colab==1.0.0
pandas==1.5.3
numpy=1.23.5
scikit-learn==1.3.2
matplotlib==3.7.1

#Installed packages - note these require 
# other packages as dependencies, including
# different versions of the packages above
hiplot==0.1.33
PiML==0.6.0
